@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

main {
  width          : 100%;
  height         : 100vh;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

.summoner-page__profile {
  width          : 1440px;
  display        : flex;
  justify-content: flex-start;
  align-items    : center;
}

.summoner-page__profile-icon-image {
  width        : 250px;
  border-radius: 25px;
}

.summoner-page__profile-info {
  width      : 1000px;
  font-family: 'Lora', serif;
  font-size  : 50px;
}